body{
    background-color: lightgray;
}
h1{
    text-align: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
div *{
    padding: 5px;
}
div p{
    display: inline;
}
#campoDivisa{
    margin-right: 10px;
}
button{
    background-color:inherit;
    border: none;
    font-size:50px;
}