*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    margin-left: 40px;
    margin-top: 20px;
}
p {
    margin-left: 100px;
    color: black;
}

.ejemplo2 {
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}
select {
    width: 400px;
}
h3 {
    margin-top: 30px;
}
.infoBox {
    line-height: 32px;
}
button {
    margin-top: 20px;
    width: 300px;
    padding:20px
}