@charset "UTF-8";

#cabecera {
    display: flex;
    justify-content: space-between;
}
span {
    color: blue;
    font-weight: bold;
    margin: 10px 25px;
    cursor: pointer;
}
#contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pie {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
img {
    margin: 25px 25px;
    cursor: pointer;
}
#back{
    float: left;
}
#forward{
    float: right;
}